
@media screen and (max-height:1200px)  {
    

.parte1{
	width: 10%;
	background-color: #000000;
	height: 100%;
	text-align: center;
	float: left;
	display: block;
}

.parte1 .titulo{
	color: white;
	font-size: 40px;
}

.parte1 .nombre{
	color: yellow;
	font-size: 10px;
	padding-bottom: 15px;
}

.parte1 .abajo{
	background-color: #434342;
	border: 4px solid black;
	height: 45.75em;
}

.parte1 .abajo img{
	width: 2.5em;
	height: 3.5em;
	padding-top: 1em;
}

.parte1 .abajo .imagen1{
	width: 1.5em;
	height: 2em;
	padding-top: 0.5em;
}

.parte2{
	border-top:4px solid black;
	border-right:4px solid black;
	border-bottom:4px solid black;
	width: 90%;
	background: url(/home/alum2/Desktop/ProyectoWEB/ProyectoWEB/fm.jpg);
	height: 53.4em;
	padding: 10px;
	padding-right: 0;
	padding-left: 0;
	float: left;
	display: block;
}

.parte2 .titulo{
	margin-left: 300px;
	color: white;
}

    
}


@media screen and (max-width: 1024px) and (min-width: 813px){}
.parte2 {
    height: 66em;
    width: 90%;
    padding-top: 8em;
}

.parte2 img{
	margin-left: 20em;
}

.parte2 .titulo{
	margin-left: 3em;
	color: white;
}

}

@media screen and (max-width: 812px) and  (min-width: 375px){
    
	.parte1{
		width: 20%;
	}

	.parte1 .abajo{
		height: 60.3em;
	}
	.parte2{
		width: 80%;
		padding: 10px;
		padding-left: 15px;
		padding-right: 15px;
		height: 69.8em;
	}
}